@font-face {
    font-family: 'JetBrains Mono NL';
    font-weight: normal;
    font-style: normal;
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMonoNL-Regular.ttf') format('truetype');
}
